.flex {
  display: flex;
  flex-wrap: wrap;
}

.imageItem {
  grid-column: span 2;
  border-radius: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(3, 150px);

  gap: 0.5rem;
}

.imageItem:nth-child(4) {
  grid-column: 2 / span 2;
}
