.largeImage {
  height: 80vh;
}

/* .imageBox {
  display: grid;
} */

.smallImage {
  /* height: 100%; */
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 10px;
  clip-path:polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
