.largeImage {
  max-height: 80vh;
  margin: auto;
}

.photoOpen {
  background-color: var(--background-color);
  max-width: 1280px;
  margin: 100px auto 0 auto;
  border-radius: 3px;
  filter: drop-shadow(0 0 2em #646cffaa);
  border: none;
}
